<div class="container">
  <div class="side-panel" [style.width]="showSidePanel ? '30%' : '0%'" (click)="toggleSidePanel()" (transitionend)="onTransitionEnd()">
    <div class="side-panel-content" *ngIf="showContent">
      <h2>{{selectedMarker.name}}</h2>
      <p>Latitude: {{selectedMarker.lat}}</p>
      <p>Longitude: {{selectedMarker.lng}}</p>
    </div>
  </div>
  <button class="toggle-button" (click)="toggleSidePanel()">
    <mat-icon>{{ showSidePanel ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </button>
  <div class="map-container">
    <div *ngIf="apiLoaded$ | async">
      <google-map height="95vh"
                  width="100%"
                  [center]="center"
                  [zoom]="zoom">
        <map-marker #marker="mapMarker"
                    *ngFor="let location of (locations$ | async)?.results"
                    [position]="{lat: location.lat, lng: location.lng}"
                    (mapClick)="openInfoWindow(marker, location)"></map-marker>
        <map-info-window>{{infoContent}}</map-info-window>
      </google-map>
    </div>
  </div>
</div>
