<mat-toolbar color="primary">
  <span class="logo-name">{{ 'LOCATIONS_APP' | translate }}</span>
  <a mat-button routerLink="/map" routerLinkActive="active">{{ 'NAVIGATION.MAP' | translate }}</a>
  <a mat-button routerLink="/locations" routerLinkActive="active">{{ 'NAVIGATION.LOCATIONS' | translate }}</a>

  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>language</mat-icon>{{ selectedLanguage }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setLanguage('en')">English</button>
    <button mat-menu-item (click)="setLanguage('gr')">Greek</button>
  </mat-menu>
</mat-toolbar>

<messages></messages>

<loading></loading>

<router-outlet></router-outlet>
