<div class="container">
  <div class="side-panel" [style.width]="showSidePanel ? '30%' : '0%'" (click)="toggleSidePanel()">
    <h2>{{selectedMarker?.lng}}</h2>
    <p>{{selectedMarker?.lat}}</p>
  </div>
  <button class="toggle-button" (click)="toggleSidePanel()">
    {{showSidePanel ? '<' : '>'}}
  </button>
  <div class="map-container">
    <div *ngIf="apiLoaded | async">
      <google-map height="100vh"
                  width="100%"
                  [center]="center"
                  [zoom]="zoom"
                  (mapClick)="addMarker($event)">
        <map-marker #marker="mapMarker"
                    *ngFor="let markerPosition of markerPositions"
                    [position]="markerPosition"
                    (mapClick)="openInfoWindow(marker, markerPosition)"></map-marker>
        <map-info-window>{{infoContent}}</map-info-window>
      </google-map>
    </div>
  </div>
</div>
