<h2 mat-dialog-title>{{location?.name}}</h2>

<loading></loading>
<messages></messages>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput
           placeholder="{{ 'PLACEHOLDER.LOCATION_NAME' | translate }}"
           formControlName="name"
           required>
    <mat-error *ngIf="name?.invalid">{{ 'VALIDATION.NAME_IS_REQUIRED' | translate }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ 'PLACEHOLDER.LATITUDE' | translate }}"
           formControlName="lat"
           required>
    <mat-error *ngIf="lat?.invalid">{{ 'VALIDATION.LATITUDE_IS_INVALID' | translate }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="{{ 'PLACEHOLDER.LONGITUDE' | translate }}"
           formControlName="lng"
           required>
    <mat-error *ngIf="lng?.invalid">{{ 'VALIDATION.LONGITUDE_IS_INVALID' | translate }}</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button
          (click)="close()">
    {{ 'BUTTON.CLOSE' | translate }}
  </button>
  <button mat-raised-button color="primary" #saveButton (click)="save()" [disabled]="!form.valid">
    {{ 'BUTTON.SAVE' | translate }}
  </button>
</mat-dialog-actions>


